* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #0000009f;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
}

.section-component {
  height: 100vh;
  padding: 0 2rem;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-component h2 {
  margin-top: 20vh;
  font-weight: 200;
  --sectionTitleText: white;
  color: var(--sectionTitleText);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.section-component h2, .section-component h3, .section-component p {
  margin-bottom: 2rem;
}

.section-component h3 {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.section-component .slide-in {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.section-component.one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bee9e8ff), to(#62b6cbff));
  background-image: linear-gradient(to bottom, #bee9e8ff, #62b6cbff);
}

.section-component.two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#62b6cbff), to(#5fa8d3ff));
  background-image: linear-gradient(to bottom, #62b6cbff, #5fa8d3ff);
}

.section-component.three {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5fa8d3ff), to(#5798bd));
  background-image: linear-gradient(to bottom, #5fa8d3ff, #5798bd);
}

.section-component.four {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5798bd), to(#518eb1));
  background-image: linear-gradient(to bottom, #5798bd, #518eb1);
}

.section-component.five {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#518eb1), to(#4e86a7));
  background-image: linear-gradient(to bottom, #518eb1, #4e86a7);
}

.navigation-component {
  width: 100%;
  position: fixed;
  padding: 1.5rem 1rem;
  -webkit-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out;
  --navBackground: #4e86a7;
  background: var(--navBackground);
  -webkit-box-shadow: 0 6px 5px 0 rgba(21, 26, 71, 0.69);
          box-shadow: 0 6px 5px 0 rgba(21, 26, 71, 0.69);
}

.navigation-component li {
  margin-left: 1.6rem;
}

.navigation-component a {
  padding: 0 0.5rem;
}

.navigation-component.nav-scroll-padding {
  padding: 1rem;
}

.navigation-component .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-component .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.navigation-component .nav-links a {
  position: relative;
}

.navigation-component .nav-links a::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0.1rem;
  position: absolute;
  top: 1.5rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.navigation-component .nav-links a:hover::after {
  width: 80%;
}

.navigation-component .logo {
  font-size: 3rem;
  margin-right: auto;
  padding: 0 0.5rem;
}

.navigation-component .logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navigation-component .logo.bounce {
  -webkit-animation: bounce 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
          animation: bounce 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  70% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  75% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  85% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  70% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  75% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  85% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.container-structure {
  max-width: 1440px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */