* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: #0000009f;
}

.section-component {
  height: 100vh;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aliceblue;
  font-size: 4rem;
}

.section-component h2 {
  font-weight: 200;
}

.section-component.one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bee9e8ff), to(#62b6cbff));
  background-image: linear-gradient(to bottom, #bee9e8ff, #62b6cbff);
}

.section-component.two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#62b6cbff), to(#5fa8d3ff));
  background-image: linear-gradient(to bottom, #62b6cbff, #5fa8d3ff);
}

.section-component.three {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5fa8d3ff), to(#5798bd));
  background-image: linear-gradient(to bottom, #5fa8d3ff, #5798bd);
}

.section-component.four {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5798bd), to(#518eb1));
  background-image: linear-gradient(to bottom, #5798bd, #518eb1);
}

.section-component.five {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#518eb1), to(#4e86a7));
  background-image: linear-gradient(to bottom, #518eb1, #4e86a7);
}

h2 {
  --sectionTitleText: white;
  color: var(--sectionTitleText);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.navigation-component {
  width: 100%;
  position: fixed;
  padding: 1.5rem 1rem;
  -webkit-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out;
  --navBackground: #4e86a7;
  background: var(--navBackground);
}

.navigation-component.nav-scroll-padding {
  padding: 1rem;
}

.navigation-component .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-component .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.navigation-component .nav-links li {
  margin-left: 1.6rem;
}

.navigation-component .nav-links li a {
  padding: 0 0.5rem;
}

.navigation-component .logo {
  font-size: 3rem;
  margin-right: auto;
  padding: 0 0.5rem;
}

.navigation-component .logo.bounce {
  -webkit-animation: bounce 2s ease 1;
          animation: bounce 2s ease 1;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.container-structure {
  max-width: 1440px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */