// Colors
$blue-100: #cae9ffff;
$blue-200: #bee9e8ff;
$blue-300: #62b6cbff;
$blue-400: #5fa8d3ff;
$blue-500: #5798bd;
$blue-600: #518eb1;
$blue-700: #4e86a7;

// Nav
$nav-links: #0000009f;
$nav-shadow: 0 6px 5px 0 rgba(21, 26, 71, 0.69);

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$bolder: 800;
