.navigation-component {
  width: 100%;
  position: fixed;
  padding: 1.5rem 1rem;
  transition: padding .2s ease-in-out;
  --navBackground: #4e86a7;
  background: var(--navBackground);
  box-shadow: $nav-shadow;
  
  li {
    margin-left: 1.6rem;
  }

  a {
    padding: 0 0.5rem;
  }
  
  li, a {
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      font-weight: $semi-bold;
    }
  }  

  &.nav-scroll-padding {
    padding: 1rem;  
  }
  
  .nav-container {
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;      
  }

  .logo {
    font-size: 3rem;
    margin-right: auto;
    padding: 0 0.5rem;

    &.bounce {
      animation: bounce 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
      
      @keyframes bounce {
          0% { transform:translateY(0%); }
          70% {transform: translateY(-15%); }
          75% {transform: translateY(0%); }
          85% {transform: translateY(-7%); }
          90% {transform: translateY(0%); }
          100% { transform:translateY(0%); }    
      }
    }
  }
}