.navigation-component {
  width: 100%;
  position: fixed;
  padding: 1.5rem 1rem;
  transition: padding .2s ease-in-out;
  --navBackground: #4e86a7;
  background: var(--navBackground);
  
  &.nav-scroll-padding {
    padding: 1rem;  
  }

  .nav-container {
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      margin-left: 1.6rem;

      a {
        padding: 0 0.5rem;
      }
    }
  }

  .logo {
    font-size: 3rem;
    margin-right: auto;
    padding: 0 0.5rem;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &.bounce {
      animation: bounce 2s ease 1;
      
      @keyframes bounce {
          0% { transform:translateY(0%); }
          25% { transform:translateY(-20%); }
          50% { transform:translateY(0%); }
          100% { transform:translateY(0%); }
      }
    }
  }
}