.section-component {
  height: 100vh;
  scroll-snap-align: start;
  scroll-padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 4rem;

  h2 {
    font-weight: 200;
  }

  &.one {
    background-image: linear-gradient(to bottom,
      $blue-200,
      $blue-300
    );
  }

  &.two {
    background-image: linear-gradient(to bottom,
      $blue-300,
      $blue-400
    );
  }

  &.three {
    background-image: linear-gradient(to bottom,
      $blue-400,
      $blue-500
    );
  }

  &.four {
    background-image: linear-gradient(to bottom,
      $blue-500,
      $blue-600
    );
  }

  &.five {
    background-image: linear-gradient(to bottom,
      $blue-600,
      $blue-700
    );
  }
}

h2 {
  --sectionTitleText: white;
  color: var(--sectionTitleText);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}
