.section-component {
  height: 100vh;
  padding: 0 2rem;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  h2 {
    margin-top: 20vh;
    font-weight: 200;
    --sectionTitleText: white;
    color: var(--sectionTitleText);
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
  }

  h2, h3, p {
    margin-bottom: 2rem;
  }

  h3 {
    transform: translateX(-100vw);
    transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  p {
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .slide-in {
    transform: translateX(0%);
  }

  .fade-in {
    opacity: 1;
  }

  &.one {
    background-image: linear-gradient(to bottom,
      $blue-200,
      $blue-300
    );
  }

  &.two {
    background-image: linear-gradient(to bottom,
      $blue-300,
      $blue-400
    );
  }

  &.three {
    background-image: linear-gradient(to bottom,
      $blue-400,
      $blue-500
    );
  }

  &.four {
    background-image: linear-gradient(to bottom,
      $blue-500,
      $blue-600
    );
  }

  &.five {
    background-image: linear-gradient(to bottom,
      $blue-600,
      $blue-700
    );
  }
}
